<div class="card product-item border-0 mb-4">
    <div class="text-center ">
      <img src="{{annonce.avatar}}" alt="" width="350px">
    </div>
    
    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
      <h3 class="text-truncate mb-3">
        {{annonce.productName | titlecase}}</h3>
      <div class="d-flex justify-content-center">
          <h6>Prix : {{annonce.price}} DT </h6><h6 class="text-muted ml-2"></h6>
      </div>
      <div class="d-flex justify-content-center">
        <h6>Catégorie: {{annonce.category| titlecase}}</h6><h6 class="text-muted ml-2"></h6>
      </div>
      <div class="d-flex justify-content-center">
          <h6> Date : {{annonce.date}}</h6>
      </div> 
      <div class="d-flex justify-content-center">
        <h6> Description : {{annonce.description}}</h6>
      </div> 
    
    
    <div class="card-footer d-flex justify-content-between bg-light border">
      <!-- <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-envelope text-primary mr-1"></i>Ajouter Un Commentaire</a> -->
      <form class="row tracking_form" [formGroup]="orderForm">
        <label for="qty"> Quantité :</label>
        <input type="number" formControlName="qty" name="qty" title="qty:"class="input-text qty" >
        <button class="btn btn-sm text-dark p-0" (click)="AddOrder()"><i class="fas fa-shopping-cart text-primary mr-1"></i>Commander</button>
      </form >
      
     </div>
     
  </div>
  




